/.vs/AWSLambdaPractice01/DesignTimeBuild/.dtbcache.v2
/.vs/AWSLambdaPractice01/FileContentIndex/aa1770e3-6d3a-43bb-ad90-7e1073e15960.vsidx
/bin/Release/net8.0/Lambda-Practice001.zip
/bin/Release/net8.0/linux-x64/AWSLambdaPractice01.deps.json
/bin/Release/net8.0/linux-x64/AWSLambdaPractice01.dll
/bin/Release/net8.0/linux-x64/AWSLambdaPractice01.pdb
/bin/Release/net8.0/linux-x64/AWSLambdaPractice01.runtimeconfig.json
/bin/Release/net8.0/linux-x64/Amazon.Lambda.Core.dll
/bin/Release/net8.0/linux-x64/Amazon.Lambda.Serialization.SystemTextJson.dll
/bin/Release/net8.0/publish/AWSLambdaPractice01.deps.json
/bin/Release/net8.0/publish/AWSLambdaPractice01.dll
/bin/Release/net8.0/publish/AWSLambdaPractice01.pdb
/bin/Release/net8.0/publish/AWSLambdaPractice01.runtimeconfig.json
/bin/Release/net8.0/publish/Amazon.Lambda.Core.dll
/bin/Release/net8.0/publish/Amazon.Lambda.Serialization.SystemTextJson.dll
/obj/AWSLambdaPractice01.csproj.nuget.dgspec.json
/obj/AWSLambdaPractice01.csproj.nuget.g.props
/obj/AWSLambdaPractice01.csproj.nuget.g.targets
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/AWSLambdaPractice01.AssemblyInfo.cs
/obj/Debug/net8.0/AWSLambdaPractice01.AssemblyInfoInputs.cache
/obj/Debug/net8.0/AWSLambdaPractice01.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/AWSLambdaPractice01.GlobalUsings.g.cs
/obj/Debug/net8.0/AWSLambdaPractice01.assets.cache
/obj/Debug/net8.0/AWSLambdaPractice01.csproj.AssemblyReference.cache
/obj/Release/net8.0/linux-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Release/net8.0/linux-x64/AWSLambd.E1A0C351.Up2Date
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.AssemblyInfo.cs
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.AssemblyInfoInputs.cache
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.GlobalUsings.g.cs
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.assets.cache
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.csproj.AssemblyReference.cache
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.csproj.CoreCompileInputs.cache
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.csproj.FileListAbsolute.txt
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.dll
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.genruntimeconfig.cache
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.pdb
/obj/Release/net8.0/linux-x64/AWSLambdaPractice01.sourcelink.json
/obj/Release/net8.0/linux-x64/PublishOutputs.d2a7dd36df.txt
/obj/Release/net8.0/linux-x64/R2R/AWSLambdaPractice01.dll
/obj/Release/net8.0/linux-x64/R2R/Amazon.Lambda.Core.dll
/obj/Release/net8.0/linux-x64/R2R/Amazon.Lambda.Serialization.SystemTextJson.dll
/obj/Release/net8.0/linux-x64/ref/AWSLambdaPractice01.dll
/obj/Release/net8.0/linux-x64/refint/AWSLambdaPractice01.dll
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/AWSLambdaPractice01/FileContentIndex/*.vsidx
/.vs/AWSLambdaPractice01/v17/*.suo
/bin/Debug/net8.0/*.json
/bin/Debug/net8.0/*.dll
/bin/Debug/net8.0/*.pdb
/obj/Debug/net8.0/*.Up2Date
/obj/Debug/net8.0/*.BuildWithSkipAnalyzers
/obj/Debug/net8.0/*.cache
/obj/Debug/net8.0/*.txt
/obj/Debug/net8.0/*.dll
/obj/Debug/net8.0/*.pdb
/obj/Debug/net8.0/*.json
/obj/Debug/net8.0/ref/*.dll
/obj/Debug/net8.0/refint/*.dll
