/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/AWSLambdaPractice01.AssemblyInfo.cs
/obj/Debug/net8.0/AWSLambdaPractice01.AssemblyInfoInputs.cache
/obj/Debug/net8.0/AWSLambdaPractice01.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/AWSLambdaPractice01.GlobalUsings.g.cs
/obj/Debug/net8.0/AWSLambdaPractice01.assets.cache
/obj/Debug/net8.0/AWSLambdaPractice01.csproj.AssemblyReference.cache
/bin/Debug/net8.0/*.json
/bin/Debug/net8.0/*.dll
/bin/Debug/net8.0/*.pdb
/obj/Debug/net8.0/*.Up2Date
/obj/Debug/net8.0/*.BuildWithSkipAnalyzers
/obj/Debug/net8.0/*.cache
/obj/Debug/net8.0/*.txt
/obj/Debug/net8.0/*.dll
/obj/Debug/net8.0/*.pdb
/obj/Debug/net8.0/*.json
/obj/Debug/net8.0/ref/*.dll
/obj/Debug/net8.0/refint/*.dll
